  <div>Welcome to {{title}}, enable camera to post video emoji!<br>Hover over the bold, colorful words in the messages containing video emojis to display the videos.</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
	<div id="submission">
    <center><span id="instructions" style='color:red'></span></center><br>
    <span id="emojiList"></span>
    <div id="textInput"><input type="text" id="textInput" placeholder="say something.."></div>
	</div>
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>