  <div>Welcome to {{title}}, enable camera to post video emoji!<br><br>When you send a message, we'll snap a picture of you to show your initial reaction and display it next to your message!<br>In messages with video emojis, hover over the bold, colorful words to display the videos.</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
	<div id="submission">
    <center><span id="instructions" style='color:red'></span></center><br>
    <center><span id="recordLabel" style='color:red'></span></center>
    <span id="emojiList"></span>
    <div id="textInput"><input type="text" id="textInput" placeholder="say something.."></div><center><button id='submit'>Highlight Emojis</button></center><br>
	</div>
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>