  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
	<div id="submission">
    <span id="emojiList"></span>
    <div id="textInput"><input type="text" id="textInput" placeholder="say something.."></div>
	</div>
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>